body{
	/*background-color: #DDD!important;*/
	width: 100%;
	color: black!important;
	background: url('../images/winte.jpg')!important;
}
.onePost .retour{
	font-size: 30px!important;
	margin-left: 20px;
}
form input:focus 
{
	border: 2px solid white;
}

.comment{
   margin: auto;
   text-align: center;
   padding: 10px;

}
.act{
	
	margin-left: 20%!important;
	
}
.commentflag{
    background: url('../images/ice1.jpg');
    width: 60%;
    margin: auto;
    text-align: center;
    margin-bottom: 100px!important;
    box-shadow: 10px 10px 10px black;
    border: 2px solid gray;
}
.liste{
	   width: 60%;
    margin: auto;
    text-align: center;
    background: url('../images/ice1.jpg');
}
a{
	font-size: 1.2em;
	color: gray!important;
	background-color: white;
}
a:hover{
	color: white!important;
}
.commentaire{
	background-color: #C0C0C0;
	padding: 15px;
}
.titre_comment{
	margin-bottom: 20px;
	margin-left: 10px;
}
.ajoutbutton{
	margin-right: 20px;
}
.modify{
	margin: 200px 50px 50px 50px;
}
.bienvenu{
	margin-left: 20px;
	font-size: 15px;
}
.titre_admin{
	margin-top: -50px;
}
.admin
{
	width: 50%;
	background: url('../images/ice1.jpg');
}
form
{
	width: 50%;
	text-align: center;
	margin: auto;
	padding: 10px;
}
.espace_admin a
{
	color: gray!important;
}
button a {
	color: gray!important;
}
button a:hover{
	color: white!important;
}
.espace_admin a:hover
{
	color: white!important;
}
.modify input, .ajout input{
    margin-top: 15px;
}
button .retour{
	margin-top: -100px!important;
}

.validation{
	margin-top: 10px;
}

.admin{
	margin: 200px;
}

#nom
{
	margin-bottom: 30px;
}
#valider
{
	margin-top: 30px;
}
.ajout{
	margin: 150px 50px 50px 50px;
    width: 65%;
}
.menu{
	flex-direction: row!important;
	top: 0px;
  background-color: #C0C0C0;
  position: fixed!important;
  right: 0;
  left: 0;
  z-index: 1030!important;
}

.formComment{
	margin: 20px 0 20px 10px;
}
.signaler{
	margin: auto;
	text-align: center;
	background: none!important;
	float: right;
	border: none;
}
.disconnectbutton{
	margin-left: 20px;
}
h1, h2{
	font-size: 0.5em;
	text-align: center;
	margin: auto;
}
.my-auto{
	margin-top: 400px!important;
}
.t3{
	font-size: 30px!important;

}
.t4{
	margin-top: 200px;
	margin-bottom: 60px;
	margin-left: 20px;
	font-size: 30px!important;
}
.titre{
    position: relative;
    bottom: 400px;
    color: #DCDCDC;
}
.titre_principal{
	position: relative;
	top: 400px;
	z-index: 999;
	color: #eeeeee;
}
.image img{
	width: 100%;
	height: 650px;
	margin-top: -50px;
}
.img{
	height: 650px;
}
.espace_admin{
	margin-top: 150px;
}
.billets{
	margin-top: 100px;
	
}
.billets table{
	background: url('../images/ice1.jpg');
    width: 85%!important;
    margin: auto;
    text-align: center;
	width: 90%!important;
	padding: 20px!important;
	  box-shadow: 10px 10px 10px black;
}
.billets table tr
{
	/*border: 2px double gray;*/
	box-shadow: 10px 10px 10px black;
}
.commentdiv{
	background: url('../images/ice1.jpg');
	width: 90%;
	border-radius: 5px;
	text-align: center;
	margin: auto;
	margin-bottom: 40px!important;
}
.commenterArticle{
	background: url('../images/ice1.jpg');
	width: 50%;
	border-radius: 10px;
	padding: 10px;
	margin: 20px;
}
.commenterArticle .button{
	width: 100%!important;
}
.monBlock{
	margin-top: 150px;
	display: flex;
	flex-direction: column;
}
.logo{
	width: 150px;
	float: left;
	transform-origin: center center!important;
	transition: transform 330ms ease-in-out;
	margin-top: -50px;
}
.flechdroit{
	transform: translate(60px); 
    z-index: 99;
    color: red;
    margin-left: 50px; 
    font-size: 50px!important;
}
.flechgauch{
	
    z-index: 99;
    color: red!important;
    margin-left: 500px; 
    font-size: 50px!important;
}
.chapitres
{
	box-shadow: 10px 10px 10px black;
	border: 2px solid gray;
	width: 80%;
	text-align: center;
	margin: auto;
	background: url('../images/ice1.jpg'); 
	margin-top: 50px;
   margin-bottom: 100px;
}
.chapitre{
	box-shadow: 10px 10px 10px black;
	padding: 10px;
}
.chapitres a, .chapitres h2
{
	color: gray!important;
}
button:hover 
{ 
	transform: scale(1.3)!important;
	background-color: gray!important;
}
.btn:hover
{ 
	transform: scale(1.3)!important;
	background-color: gray!important;
}
a:hover
{
	transform: scale(1.3)!important;

}
input, textarea{
	width: 100%;
}
.bio img{
	width: 70%;
	height: auto;
	border: 2px #C0C0C0 solid;
	margin-top: 50px;
}
.biojean{
	text-align: center;
    margin: auto;
    margin-bottom: 50px;
    padding-top: 160px!important;
}
.biographie{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 2px #C0C0C0 solid;
    padding: 10px;
}
.paginNum{
	margin: auto;
	text-align: center!important;
	margin-top: 20px!important;
}
.paginNum a
{
	border: 1px solid #C0C0C0;
	margin: 1px;
	height: 10px!important:
	width: 10px!important;
	background-color: #C0C0C0;
}
.paginNum a i
{
	border: none!important;
}
.page-footer{
	margin-bottom: 0px;
	display: flex;
	align-content: space-around;
	background-color: #C0C0C0!important;
}
.listChapitres{
	padding: 50px!important;
	display: flex;
	align-content: space-around;
	
}
.listChapitres img
{
	width: 300px;	
}
.seul{
	background-color: #C0C0C0;
	text-align: center!important;
	margin: auto!important;
	height: auto!important;
	margin: 50px;
	width: 300px!important;
}
.news{
	background: url('../images/ice1.jpg');
	box-shadow: 10px 10px 10px black;
	border: 2px solid gray;
	width: 80%;
	text-align: center;
	margin: auto;
	padding: 50px;
}
.onePost h2
{
	margin-bottom: 50px!important;
	text-align: center;
	margin: auto;
}
.onePost
{   
	
	margin-top: 200px;
}


