body{
	background-color: #DDD!important;
	
	overflow-x: visible;
}
html
{
   height: 100%;
}
.bg{

}
.site-content{
	margin-top: 150px;
	min-height: 100%!important;
	
}
.page-footer{
	position: absolute;
	bottom:0px!important;
	width:100%;
	height: 150px;
}
.site-header
{ height:100%!important;
	
}
.admin{
	margin-left: 20px;
	/*padding-top: 200px;*/
}
.connectAdmin
{
	
}

.menu{
	flex-direction: row!important;
	top: 0px;
  background-color: #C0C0C0;
  position: fixed!important;
  right: 0;
  left: 0;
  z-index: 1030!important;
}
h1, h2{
	font-size: 0.5em;
	text-align: center;
	margin: auto;
}
.my-auto{
	margin-top: 400px!important;
}
.t3{
	font-size: 20px!important;
}
.t4{
	margin-left: 20px;
	font-size: 25px!important;
}
.titre{
    position: relative;
    bottom: 400px;
    color: #DCDCDC;
}
.image img{
	width: 100%;
	height: 650px;
	margin-top: -50px;
}
.news{
	margin-left: 20px;
}
.monBlock{
	margin: auto;
}
.logo{
	width: 150px;
	float: left;
	margin-top: -50px;
}
.bio img{
	width: 70%;
	height: auto;
	border: 2px #C0C0C0 solid;
	/*margin-top: 50px;*/
}
.biojean{
	text-align: center;
    margin: auto;
    margin-bottom: 50px;
    /*padding-top: 160px!important;*/
}
.biographie{
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 30px;
    border: 2px #C0C0C0 solid;
    padding: 10px;
}
.page-footer{
	background-color: 	#C0C0C0!important;
}
